h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
	font-weight: bold;
}
body {
	font-family: Verdana, Geneva, "Bitstream Vera Sans", "DejaVu 	Sans", sans-serif;
	background-color: #FFFFFF;
	color: #000000;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Cambria, "Palatino Linotype", "book Antiqua", 	"URW Palladio L" , serif;
}

#wrap
{
	width:1455px;
}

.left
{
	width:500px;
	background-color: #00d;
	height:900px;
	float:left
	
}
.right
{
	width:500px;
	background-color: #00d;
	height:900px;
	float:right
}

.middle
{
	width:240px;
	background-color: #00d;
	height:123px;
	float:left
}

#specialties table
{
	border-collapse: collapse;
	background-color: #F1F1F1;
	text-align: left;
}

#specialties table th
{
	color: #FFFFFF;
	background-color: #555555;
	padding: 5px;
	border-right: 1px solid #D4D4D4;
	border-style: hidden;
	vertical-align: top;
}

#specialties table td
{
	border: 1px solid #D4D4D4;
	padding: 5px;
	vertical-align: top;
}
#specialties table tr:hover
{
	background-color: #CCFF00;
}

#specialties table tr:first-child th
{
	border-left: 1px solid #555555;
}
#specialties table tr:last-child th
{
	border-right: 1px solid #555555;
}

#container {
	width: 100%;
	background-color: #EBEBEB;
	margin: 0;
	padding: 0;
	text-align: left;
	overflow: hidden;
}
#header {
	background-color:  #0000FF;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


#rightSideCustomSection
{
	float: left;
	width: 30em;
	font-weight: bold;
	overflow: hidden;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
	border-left: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;
	background-color: #EBEBEB
}

#rightSideCustomSection ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#mainContentCustomPage
{
	background-color: #FFFFFF;
	margin-left: 12em;
	padding: 10px 20px 0 1em;
}


#sidebar {
	float: left;
	width: 12em;
	font-weight: bold;
	overflow: hidden;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#sidebar a {
	display: block;
	padding: 3px 3px 5px 30px;
	background-color: #336666;
	color: #EBEBEB;
	border-bottom: 1px #EBEBEB solid;
	text-decoration: none;
}
#sidebar a:hover {
	background-color: #EBEBEB;
	color: #336666;
}
#sideheader1 li {
	background-color: #000000;
	color: #FFFFFF;
	display: block;
	padding: 3px 3px 5px 30px;
	border-bottom: 1px #EBEBEB solid;
	border-top: 1px #EBEBEB solid;
	text-decoration: none;
}
#sideheader2 li {
	background-color: #000000;
	color: #FFFFFF;
	display: block;
	padding: 3px 3px 5px 30px;
	border-bottom: 1px #EBEBEB solid;
	text-decoration: none;
}
#mainContent 
{
	background-color: #EBEBEB;
	/*margin-left: 12em;*/
	/*padding: 10px 20px 0 1em;*/
}
#mainContent p a
{
	text-decoration: none;
}
#mainContent p a:hover
{
	text-decoration: underline;
}

#check
{	
 	list-style-type: none;
	border: solid 1px #CCCCCC;
	background-color: #f9f9f9;
	padding: 4px;
	margin: auto;
}

#check a
{
	text-decoration: none;

}
#check a:hover
{
	text-decoration: underline;
}

#register-spacer
{
	height: 150px;
}

#tableSpace1
{
	height: 30px;
}

#tableSpace2
{
	height: 200px;
}


#heightSpace1
{
    height: 25px;
	background-color: #EBEBEB;
}

#heightSpace2
{
    height: 20px;
	background-color: #EBEBEB;
}

#mainContent2 
{
	background-color: #EBEBEB;
	margin-left: 9em;
	padding: 10px 20px 0 1em;
}

#footer-spacer 
{
    height: 70px;
	background-color: #EBEBEB;
}

#footer p {
	margin: 0;
	padding: 4px 0;
	background-color: #DDDDDD;
	text-align: center;
	font-size: .8em;
}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 0px;
}

#div_top_hypers {
	margin-left: 50em;
    display:inline;      
}

#ul_top_hypers {
    display: inline;
}

#ul_top_hypers li {
    display: inline;
}

button 
{
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

#close-image img 
{
    display: block;
    height: 130px;  
    width: 100px;
}

#close-CSS 
{
    background-image: url( "images/button/button.png" );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}


/* THE DIV */
.simple-ss {
  width:900px;
  height:550px;
  background-color:blue;
  margin:auto;
  /*background-image:url("http://imgur.com/download/OtK7XDW");*/
  background-image:url("images/iglooBackground3.jpg");
  background-position:0;
  background-repeat:no-repeat;
  background-size:cover;

/* ANIMATING STUFF */
  animation-name: slide;
  animation-duration: 13s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/* NOTE CODEPEN AUTOGENERATING -PREFIXES */
@keyframes slide {
  0% {background-position:0 0;}
  16.66% {background-position:0 0;}
  33.32% {background-position:-990px 0;}
  49.98% {background-position:-990px 0;}
  66.64% {background-position:-1980px 0;}
  83.30% {background-position:-1980px 0;}
  100% {background-position:0 0;}
}
